<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理中心</title>
    <style>
        .one {
            width: 200px;
            height: 200px;
            float: left;
            margin: 0 0 0 30px
        }

        .two {
            width: 760px;
            height: 200px;
            float: left;

        }
    </style>
</head>
<body style="background-image: url('/static/index/bg.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size:100% 110%">
<div align="center" style="height: 200px;" id="header">
    <div style="width: 1200px">
        <div class="one"><a href="/logout/"><img style="height: 200px" src="/static/index/1.png" alt=""></a></div>
        <div align="center" class="two"><p><font size="10"><b>管 理 中 心</b></font></p></div>
    </div>
</div>

<div align="center" style="width: 100%;height: 50px;">
    <h1>用户&nbsp;&nbsp;<a style="text-decoration: none" href="/user_excel/">
        <button type="button" class="btnStyle">导出excel</button>
    </a></h1>
</div>

<div align="center">
    <div align="center" style="width: 70%;">
        <table border="1px">
            <tr align="center">
                <td style="width: 150px">用户ID</td>
                <td style="width: 150px">用户名</td>
                <td style="width: 150px">密码</td>
                <td style="width: 150px">身份</td>
                <td style="width: 150px">余额</td>
                <td></td>
            </tr>
            {% for i in contest.user %}
                <tr>
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    {% if i.3 == '1' %}
                        <td>卖家</td>
                    {% elif i.3 == '2' %}
                        <td>普通买家</td>
                    {% elif i.3 == '3' %}
                        <td>VIP买家</td>
                    {% endif %}
                    <td>{{ i.4 }}</td>
                    <td>
                        <form action="/del_user/" method="post">
                            <input type="submit" value="删除" name="{{ i.0 }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div align="center" style="width: 100%;height: 50px;">
    <h1>商品&nbsp;&nbsp;<a style="text-decoration: none" href="/goods_excel/">
        <button type="button" class="btnStyle">导出excel</button>
    </a></h1>
</div>
<div align="center">
    <div align="center" style="width: 70%;">
        <table border="1px">
            <tr align="center">
                <td style="width: 50px">商品ID</td>
                <td style="width: 50px">商品名</td>
                <td style="width: 50px">价格</td>
                <td style="width: 50px">库存</td>
                <td style="width: 50px">销量</td>
                <td style="width: 50px">商家ID</td>
                <td style="width: 50px">评分</td>
                <td style="width: 50px">类别1</td>
                <td style="width: 50px">类别2</td>
                <td style="width: 50px">类别3</td>
                <td style="width: 250px">简介</td>
                <td style="width: 30px" ></td>
            </tr>
            {% for i in contest.goods %}
                <tr>
                    <td>{{ i.0 }}</td>
                    <td>{{ i.1 }}</td>
                    <td>{{ i.2 }}</td>
                    <td>{{ i.3 }}</td>
                    <td>{{ i.4 }}</td>
                    <td>{{ i.5 }}</td>
                    <td>{{ i.6 }}</td>
                    <td>{{ i.7 }}</td>
                    <td>{{ i.8 }}</td>
                    <td>{{ i.9 }}</td>
                    <td>{{ i.10 }}</td>
                    <td>
                        <form action="/del_goods/" method="post">
                            <input type="submit" value="删除" name="{{ i.0 }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>
</div>

</body>
</html>